<link rel="stylesheet" href="/stylesheets/footer.css">

   <div class="footer">
     <div class="left">
        © Copyright 2023 LOSOS
    </div>
    <div class="right">
        Site ficcional criado para fins didáticos<br>
      Pertencete a Larissa dos Santos Holanda
    </div>
</div>
