<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOSOS</title>
    <link rel="stylesheet" href="/stylesheets/menu.css">
</head>
<body class="container">
    
<header>
    <div class="logo">
        Losos
    </div>
    <nav>
        <ul>
            <div class="pagina"><li><a href="/">Início</a></li></div>
          <div class="pagina"><li><a href="/contato">Contato</a></li></div>
          <div class="pagina"><li><a href="/projetos">Projetos</a></li></div>
            <div class="pagina"><li><a href="/historia">História</a></li></div>
              <!--<div class="pagina"><li><a href="/login">Login</a></li></div> -->

        </ul>
    </nav>
</header>
