<link rel="stylesheet" href="/stylesheets/contato.css">
<%- include('./partials/header.ejs') %>
    
  <section>
      <div class="container">
        <h3>Email: contato@losos.com</h3>
        <h3>Tel: +42 4242 4242</h3>
      </div>
    </section>
      
     
  <section>
    <footer><%- include('./partials/footer.ejs') %></footer>
  </section>
</body>
</html>
