<link rel="stylesheet" href="/stylesheets/historia.css">
<%- include('./partials/header.ejs') %>

  <section>
    <div class="container">
        <h4>A Losos é uma empresa dedicada à criação e desenvolvimento de projetos arquitetônicos funcionais e inovadores. Atuamos no mercado com um espírito criativo em cada um de nossos projetos, em parceria com clientes, acionistas e toda a sociedade.</h4>
    </div>
  </section>
  
  <section>
<footer><%- include('./partials/footer.ejs') %></footer>
  </section>
  
</body>
</html>