<link rel="stylesheet" href="/stylesheets/style.css"> 

<%- include('./partials/header.ejs') %> 
  <section><div class="container"> 
    <h3>Olá, seja bem-vindo a LOSOS</h3> 
    <h1>Transformando Ideias em Realidade!</h1> 
  </div></section>
<section>
  <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body> 
</html>


